            p
            {
                color:blue;
                font-family: Impact ;
                font-size:x-large;
            }
            h1
            {
                color: crimson;
                text-align: center;
            }
            a
            {
                color:blueviolet;
                font-family: cursive;
                font-size:x-large;
            }